* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #0f172a;
  color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #38bdf8;
}

.cart {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  padding: 32px;
}

.product-card,
.product-card1 {
  position: relative;
  overflow: visible;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  z-index: 1;
}

.product-card:hover {
  z-index: 10;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 6px;
}

.ml-badge {
  position: absolute;
  right: 8px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}

.product-card h3 {
  margin: 12px 0;
}

.price-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.discount {
  color: red;
  font-size: 14px;
}

/* Rating */
.rating {
  font-size: 13px;
  margin-top: 8px;
  background: #8ce8d27d;
  margin: 6px 40px;
  padding: 10px 0;
}

.rate {
  color: #000;
  font-weight: bold;
}

.reviews {
  margin-left: 5px;
  color: #666;
}

/* Buttons parallel */
.btn-row {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.add-btn {
  flex: 1;
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn {
  flex: 1;
  background: #ef4444;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.small-img {
  width: 150px;
  cursor: zoom-in;
}

.big-img-box {
  position: absolute;
  top: 0;
  left: 110%;
  width: 400px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 10000;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.2s ease;
}

.product-card:nth-child(6n) .big-img-box {
  left: auto;
  right: 110%;
}

.image-wrapper:hover .big-img-box {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.cart-container {
  max-width: 900px;
  background: #fff;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* Header */
.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-header h2 {
  font-size: 20px;
}

.item-count {
  color: #555;
  font-size: 18px;
}

/* Cart Item */
.cart-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.item-info {
  flex: 1;
}

.item-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.item-info p {
  font-size: 13px;
  color: #777;
}

/* Right section */
.item-right {
  text-align: right;
}

.cart-price {
  display: block;
  color: #2e8b57;
  font-weight: bold;
  margin-bottom: 10px;
}

.no-item {
  text-align: center;
  padding: 5px;
  background: rgb(240, 125, 125);
  border: 1px solid #dedede
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  border-top: 1px solid #ddd;
}

.cart-total span {
  margin-right: 10px;
  font-weight: 500;
}

.cart-total strong {
  font-weight: bold;
}

.count-item {
  padding: 3px;
  margin: 10px;
  width: 50px;
}

/* Button */
/* .remove-btn {
  background: #5f7f9e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #4e6a85;
} */